127.0.0.1		localhost.localdomain localhost
::1		localhost6.localdomain6 localhost6


# Java TommyCat 
192.168.1.109   tommy01.javadc.lab   tommy01
192.168.1.107   web02.javadc.lab     java-web02  
192.168.1.108   web01.javadc.lab     java-web01


# Django DC 
192.168.1.119  app01.djangodc.lab    app01 
192.168.1.120  web01.djangodc.lab    django-web01 

# PuppetMaster 
192.168.1.121  puppet.dc1.lab 	      puppet 

# Graphite 
192.168.1.138  graphite.dc1.lab       graphite  

# Solr
192.168.1.142  solr.dc1.lab 	      solr

